<a href="https://colab.research.google.com/github/NehaFariyal/ADM_LAB/blob/main/employee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/employee_data.csv')
print("Original Dataset:")
print(df)

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [3]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [4]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [5]:
df['Employee_ID'].mean()

1025.5

In [6]:
df['Job_Satisfaction'].mean()

5.55

In [7]:
df['Work_Hours_Per_Week'].mean()

44.72

In [8]:
df['Salary'].mean()

72349.2

In [9]:
df['Age'].mean()

39.17777777777778

In [10]:

print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [11]:
df['Employee_ID'] = df['Employee_ID'].fillna(df['Employee_ID'].mean())

In [12]:
df['Salary'] =df['Salary'].fillna(df['Salary'].mean())

In [13]:
df

    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0   72349.2               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0   72349.2               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0   72349.2              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0   72349.2               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0   72349.2               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
scaler = MinMaxScaler()

In [16]:
df[['Age', 'Employee_ID']] = scaler.fit_transform(df[['Age', 'Employee_ID']])

In [17]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [20]:
# Check if the column 'BMI' exists in the DataFrame. If not, add the column to the DataFrame.
# The logic behind these dummy values, or the actual intended value for the column if this is not the case
# should be informed by the project's objectives.

if 'BMI' not in df.columns:
    # add a new column named "BMI", values are set to 0 for now.
    df['BMI'] = 0 # Or any other appropriate default or calculated values

#Proceed with scaling as before
df[['BMI']] = s_scaler.fit_transform(df[[ 'BMI']])

In [21]:
df['BMI']

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
30    0.0
31    0.0
32    0.0
33    0.0
34    0.0
35    0.0
36    0.0
37    0.0
38    0.0
39    0.0
40    0.0
41    0.0
42    0.0
43    0.0
44    0.0
45    0.0
46    0.0
47    0.0
48    0.0
49    0.0
Name: BMI, dtype: float64

In [22]:
df['Salary'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

In [23]:
df

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week,BMI
0,0.000000,0.750000,1.476014,9.0,36,0.0
1,0.020408,0.361111,0.429282,8.0,59,0.0
2,0.040816,0.166667,-0.064204,2.0,30,0.0
3,0.061224,0.527778,-1.316871,1.0,30,0.0
4,0.081633,0.472222,0.137457,7.0,54,0.0
5,0.102041,0.583333,1.212133,7.0,56,0.0
6,0.122449,0.250000,0.000000,NaN,59,0.0
7,0.142857,0.250000,0.941478,5.0,54,0.0
8,0.163265,0.611111,-0.213080,3.0,49,0.0
9,0.183673,0.944444,0.000000,8.0,42,0.0
10,0.204082,0.611111,-1.242594,6.0,38,0.0
11,0.224490,NaN,-0.078721,NaN,32,0.0
12,0.244898,0.555556,-1.666723,NaN,36,0.0
13,0.265306,0.000000,1.912966,1.0,35,0.0
14,0.285714,0.611111,0.533963,3.0,37,0.0
15,0.306122,0.777778,1.913893,5.0,56,0.0
16,0.326531,1.000000,-0.770278,3.0,38,0.0
17,0.346939,0.000000,-0.727817,1.0,59,0.0
18,0.367347,0.527778,1.278910,5.0,34,0.0
19,0.387755,0.861111,1.631060,10.0,30,0.0
20,0.408163,0.277778,-1.333969,7.0,48,0.0
21,0.428571,0.555556,1.792719,7.0,39,0.0
22,0.448980,0.638889,-1.216343,NaN,41,0.0
23,0.469388,0.694444,0.861112,9.0,53,0.0
24,0.489796,0.722222,0.000000,10.0,44,0.0
25,0.510204,0.388889,-0.131061,NaN,56,0.0
26,0.530612,0.361111,0.000000,3.0,51,0.0
27,0.551020,0.027778,-0.173603,7.0,53,0.0
28,0.571429,0.972222,0.357465,1.0,38,0.0
29,0.591837,0.138889,0.761270,4.0,49,0.0
30,0.612245,NaN,0.267542,4.0,46,0.0
31,0.632653,0.194444,-0.063518,NaN,59,0.0
32,0.653061,0.444444,-1.604140,7.0,46,0.0
33,0.673469,0.055556,0.816272,7.0,55,0.0
34,0.693878,NaN,1.016723,NaN,49,0.0
35,0.714286,0.333333,-1.599019,4.0,41,0.0
36,0.734694,0.194444,0.235525,7.0,59,0.0
37,0.755102,0.666667,-1.495668,NaN,36,0.0
38,0.775510,0.000000,0.000000,3.0,31,0.0
39,0.795918,NaN,-0.114730,6.0,32,0.0
40,0.816327,0.722222,-0.370586,2.0,46,0.0
41,0.836735,0.138889,-1.143720,10.0,34,0.0
42,0.857143,0.166667,0.786674,9.0,46,0.0
43,0.877551,0.916667,-1.196947,5.0,53,0.0
44,0.897959,0.333333,-0.148764,6.0,46,0.0
45,0.918367,0.416667,-1.564098,4.0,56,0.0
46,0.938776,0.944444,-0.624830,NaN,46,0.0
47,0.959184,0.055556,0.893412,NaN,31,0.0
48,0.979592,0.000000,0.399281,7.0,31,0.0
49,1.000000,NaN,-0.793868,9.0,57,0.0